.header {
text-align: center;
color: #fff;
background-color: #333;
padding: 10px;
}

.city-search {
    width: 150%;
}

.current-temp {

}

.forecast {
    margin: 15px;
}

.smcard {
    margin: 0px;
}

.float-right {
float: right;
}

.float-left {
float: left;
}